//colours
$mid-green: #55c57a;
$dark-green: #28b485;
$light-green: #7ed56f;

$light-orange: #ffb900;
$dark-orange: #e95100;

$red: #990202;

$light-blue: #2998ff;
$dark-blue: #1f4564;

$grey-1: #f7f7f7;
$grey-2: #eee;
$grey-3: #999;
$grey-4: #777;
$grey-6: #333;

$white: #fff;
$black: #000;

//font
$default-font-size: 1.6rem;
$default-border-radius: 10px;

//height of header and nav
$top-size: 5rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-vertical-small: 0.5rem;
$gutter-horizontal: 2rem;
