@import "../../sass/variables";
@import "../../sass/mixins";

.textarea {
  color: black;
  font-size: $default-font-size;
  font-family: inherit;
  padding: 1.5rem 2rem;
  background-color: $white;
  border: 1px solid $grey-4;
  border-bottom: 0.3rem solid $grey-4;
  width: 100%;

  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba($black, 0.1);
    border-bottom: 0.3rem solid $dark-blue;
  }

  &:focus:invalid {
    border-bottom: 0.3rem solid $dark-orange;
  }

  &::-webkit-input-placeholder {
    color: $grey-4;
  }
}
