@import "../../sass/variables";
@import "../../sass/mixins";

.status-title {
  font-size: 1.8rem;
  color: white;
}

.status-number {
  border-radius: 50%;
  background-color: $dark-orange;
  color: white;
  padding: 1rem 1.8rem;
  font-size: 3rem;
  margin-left: 1.2rem;
}
