@import "../../sass/mixins";
@import "../../sass//variables";

.homepage {
  margin-top: 1rem;
}
.home {
  width: 30rem;
  margin: 5rem auto 0 auto;
  display: grid;
  grid-row-gap: 3rem;

  & li {
    list-style: none;
    width: 100%;
    text-align: center;

    & a {
      display: block;
      background: $dark-orange;
      border-radius: 1rem;
      padding: 1.5rem;
      text-transform: uppercase;
      font-weight: 800;
      color: $white;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background: $light-blue;
      }
    }
  }
}
